{{ define "main" }}
  <article class="theme-post">
    <header class="entry-header simple-page">
      <h2 class="entry-title h1">{{ .Title }}</h2>
      <div class="post-letter">{{substr .Title 0 1}}</div>
    </header>
    <section>
      {{ $type := .Type }}
      {{ $.Scratch.Set "count" 1 }}

        {{ range (.Site.RegularPages.GroupByDate "2006") }}
          {{ if and (gt .Key 1) (gt (where .Pages "Type" $type) 0) }}

            {{ range (where .Pages "Type" $type) }}
              {{ if (eq ($.Scratch.Get "count") 1) }}
                {{ $.Scratch.Set "count" 0 }}
                <h1 class="archive-year">{{ .Date.Format "2006" }}</h1>
              {{ end }}
            {{ end }}

            {{ $.Scratch.Set "count" 1 }}

              <ul class="taxonomy-list">
              {{ range (where .Pages "Type" $type) }}
                {{ if (ne .Params.hidden true) }}
                  <li>
                    <a href="{{ .RelPermalink }}">
                      <span>
                        {{ if eq .Site.Language.Lang "ru" }}
                          {{ .Date.Day }} {{ i18n .Date.Month }}.
                        {{ else }}
                          {{ i18n .Date.Month }}. {{ .Date.Day }}
                        {{ end }}
                      </span> — {{ .Title }}
                    </a>
                  </li>
                {{ end }}
              {{ end }}
              </ul>

        {{ end }}
      {{ end }}
    </section>
  </article>
{{ end }}
