<!DOCTYPE html>
<html>
{{- partial "head.html" . }}
<body>
    <div class="popup-content" id="popupContent">
        <div class="popup-head" id="popupHead"></div>
        <div class="popup-data" id="popupData"></div>
    </div>
    <div class="popup-overlay" id="popupOverlay" onclick="removeContent()"></div>
    {{ partial "header.html" . }}
    <div class="theme-fake-bg">
        <div class="theme-section">
            <div class="section-content">
                {{- block "main" . }}{{- end }}
            </div>
        </div>
        {{- block "footer" . }}
            <footer class="theme-footer">
                {{ partial "footer.html" . }}
            </footer>
        {{- end -}}
    </div>
    {{- partial "custom_body.html" . -}}
</body>
</html>
