{{ define "main" }}
    <main>
      <div class="taxonomy-head">
        {{ $taxonomyName := .Data.Singular }}
        {{ with .Title }}<h4 class="h2">{{ $taxonomyName }}: {{ . }}</h4>{{ end -}}
        {{ with .Content }}
        <section>
            {{ . }}
        </section>
        {{ end }}
      </div>

      <article class="theme-post">
        {{ $pages := where .Pages "Params.hidden" "!=" true}}
        {{ range (.Paginate $pages).Pages }}
          <header class="entry-header">
            <h2 class="entry-title h1"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            {{- partial "post_meta.html" . }}
            <div class="post-letter">{{substr .Title 0 1}}</div>
          </header>

          <section>{{ .Summary | safeHTML }}</section>
        {{- end -}}
        {{ partial "pagination.html" . }}
      </article>
    </main>
{{ end }}
