{{ define "main" }}
    <main>
        <article class="theme-post">
            {{ $taxonomyName := .Data.Plural }}
            {{ with .Title }}
                <header class="entry-header simple-page">
                    <h2 class="entry-title h1">{{ . }}</h2>
                    <div class="post-letter">{{substr . 0 1}}</div>
                </header>
            {{ end -}}

            {{ with .Content }}
                <section>
                    {{ . }}
                </section>
            {{ end }}

            <section>
                {{ $pages := where .Pages "Params.hidden" "!=" true}}
                {{ range (.Paginate $pages).Pages }}
                    <ul class="taxonomy-list {{ $taxonomyName }}">
                        {{ if (ne .Params.hidden true) }}
                            <li>
                                <a href="{{ .RelPermalink }}">
                                    {{ .Title }}
                                    {{ with .Param "tags" }}
                                        ({{ .Count }})
                                    {{ end }}
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                {{- end -}}
                {{ partial "pagination.html" . }}
            </section>
        </article>
    </main>
{{ end }}
