html {
   font-size: 62.5%;
}
html, html a {
   -webkit-font-smoothing: antialiased;
}

html, body {
   height: 100%;
   margin: 0px;
}

body {
   background: #f8f8f8;
   line-height: 1.88;
   font-size: 1.6rem;
   font-family: 'Domine';
   font-weight: 400;
   color: #444444;
   padding: 0;
   margin: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .post-date-month {
   color: #333333;
   font-family: 'Josefin Sans';
   font-weight: 600;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
   margin-top: 2rem;
   margin-bottom: 2rem;
   text-transform: uppercase;
   line-height: 1.3;
}

h1, .h1 {
   font-size: 4.8rem;
}

h2, .h2 {
   font-size: 3.5rem;
}

h3, .h3 {
   font-size: 2.8rem;
}

h4, .h4 {
   font-size: 2.3rem;
}

h5, .h5 {font-size: 1.8rem;}

h6, .h6 {
   font-size: 1.5rem;
}

article, aside, details, figcaption, figure, footer, header, legend, main, menu, nav, section, summary {
   display: block;
}

dl, ol, p, ul {
   margin-top: 0;
}

address, dl, ol, p, ul {
   margin-bottom: 1rem;
}

ol, ul {
   overflow-wrap: break-word;
}

p {
   margin: 0 0 3.6rem;
   overflow-wrap: break-word;
}

*, ::after, ::before {
   -webkit-box-sizing: inherit;
   box-sizing: inherit;
}

blockquote {
   padding: 5rem 5rem 3rem;
   position: relative;
   text-align: center;
   line-height: 1.88;
   border: 1px double rgba(0,0,0,.1);
   margin: 5rem 0;
   display: block;
}

blockquote::before {
   background: #c62641;
   content: "\201D";
   top: -2rem;
   position: absolute;
   width: 40px;
   height: 40px;
   display: block;
   text-align: center;
   left: 50%;
   margin-left: -20px;
   color: #FFF;
   border-radius: 50%;
   font-size: 3.6rem;
   font-weight: 600;
   padding: 0px;
   line-height: 6rem;
}

table, td, th {
   border-color: rgba(68,68,68,0.3);
}

tr:first-child td, tr:first-child th {
   border-top: 1px solid;
}

td, th {
   padding: 10px 15px;
   border-right: 1px solid;
   border-bottom: 1px solid;
}

td:first-child, th:first-child {
   border-left: 1px solid;
}

.container {
   margin-left: auto;
   margin-right: auto;
   max-width: 1200px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}

.slot-c, .slot-l, .slot-r {
   height: 100%;
}

.slot-l, .slot-r {
   position: absolute;
   z-index: 1001;
   display: flex;
   -ms-flex-align: center;
   align-items: center;
   top: 0;
}

.slot-c, .slot-l, .slot-r {
   display: -webkit-box;
   display: -ms-flexbox;
   -webkit-box-align: center;
}

.slot-l {
   left: 15px;
}

.slot-r {
   right: 15px;
}

.slot-r ul {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   vertical-align: center;
}

.theme-header {
   z-index: 9001; 
   top: 0px;
   left: 0;
   /*position: fixed;*/
   position: absolute;
   height: 110px;
   width: 100%;
   will-change: scroll-position;
}

.theme-header-stycky {
   z-index: 9001; 
   top: 0px;
   height: 70px;
   position: fixed;
   background: #c62641;
   animation: fadeIn 0.5s;
   -webkit-animation: fadeIn 0.5s;
   -moz-animation: fadeIn 0.5s;
   -o-animation: fadeIn 0.5s;
   -ms-animation: fadeIn 0.5s;
}

.theme-header .container{
   height: 100%;
   position: relative;
}

.theme-site-branding {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   height: 100%;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.site-title {
   text-transform: uppercase;
   margin: 0;
   height: 40px;
}

.site-title a {
   color: #ffffff;
   text-decoration: none;
}

.theme-main-navigation {
   opacity: 1; 
   position: relative;
}

.theme-header .theme-main-nav {
   font-family: 'Josefin Sans';
   font-weight: 600;
   color: #ffffff;
   opacity: 1;
   position: relative;
   list-style: none;
   padding: 0;
   margin: 0;
   font-size: 0;
   text-transform: uppercase;
}

.theme-header .theme-main-nav li {
   display: inline-block;
   vertical-align: middle;
   line-height: 1.3;
   min-height: 4rem;
   padding: 0;
   position: relative;
}

.theme-header .theme-main-nav li.active {
   background: rgba(0,0,0,.1);
}

.theme-header .theme-main-nav li a {
   padding: 16px 14px 13px;
   line-height: 1;
   font-size: 1.1rem;
   color: #ffffff;
   display: block;
   -webkit-transition: all .1s ease-in-out;
   -moz-transition: all .1s ease-in-out;
   -ms-transition: all .1s ease-in-out;
   -o-transition: all .1s ease-in-out;
   transition: all .1s ease-in-out;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   text-decoration: none;
}

.theme-header .theme-main-nav li:hover a{
   background: rgba(255,255,255,.1);
   -webkit-box-shadow: 0 10px 15px 0 rgb(0 0 0 / 15%);
   box-shadow: 0 10px 15px 0rgba(0,0,0,.15);
}

.theme-cover {
   background: #c62641;
   height: 209px;
   min-height: 209px;
   position: relative;
   text-align: center;
   overflow: hidden;
}

.theme-fake-bg {
   background: #f8f8f8;
   position: relative;
   z-index: 9000;
}

.theme-fake-bg .theme-section:first-child {
   top: -99px;
   position: relative;
   z-index: 900;
   margin-bottom: 0;
}

.theme-section:last-child {
   margin-bottom: 0;
}

.theme-section {
   background: #ffffff;
   width: 93%;
   -webkit-box-shadow: 0 30px 50px 0 rgb(1 1 1 / 15%);
    box-shadow: 0 30px 50px 0 rgb(1 1 1 / 15%);
    max-width: 1170px;
    margin: 0 auto 10rem;
    width: 95%;
    padding: 16rem 0 15rem;
}

.section-content {
   max-width: 720px;
   margin: 0 auto 3rem;
}

.section-content main {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}

.theme-post {
   position: relative;
   margin-bottom: 9rem;
   padding-bottom: 10rem;
   width: 100%;
}

.theme-post:after {
   background: rgba(51,51,51,0.2);
   content: "";
   height: 1px;
   width: 50px;
   position: absolute;
   bottom: 0;
   left: 50%;
   margin-left: -25px;
}

.entry-header {
   position: relative;
   z-index: 2;
   margin-bottom: 2.6rem;
}

.entry-header.simple-page {
   margin-bottom: 6rem;
}

.entry-title {
   -ms-word-wrap: break-word;
   word-wrap: break-word;
   margin-bottom: 0;
   line-height: 1.2;
}

.entry-title a {
   -webkit-transition: all .15s ease-in-out;
   -moz-transition: all .15s ease-in-out;
   -ms-transition: all .15s ease-in-out;
   -o-transition: all .15s ease-in-out;
   transition: all .15s ease-in-out;
   text-decoration: none;
   text-decoration-line: none;
   text-decoration-thickness: initial;
   text-decoration-style: initial;
   text-decoration-color: initial;
}

.entry-title a:hover {
   color: #c62641;
}

.entry-meta {
   margin-top: 0.8rem;
}

.meta-item {
   text-transform: none;
   display: inline-table;
   vertical-align: top;
   margin-right: 15px;
   font-size: 1.3rem;
}

.meta-item, .meta-item span, .meta-item a {
   color: #888888;
}

.meta-item:after {
   content: "/";
   right: -7px;
   position: relative;
}

.meta-item:last-child:after{
   display:none
}

.meta-item a {
   text-decoration: none;
   padding-bottom: 3px;
   border-bottom: 1px solid transparent;
   -webkit-transition: border-bottom .1s ease-in-out;
   -o-transition: border-bottom .1s ease-in-out;
   transition: border-bottom .1s ease-in-out;
}

.comment-meta .url, .meta-item a:hover {
   color: #333333;
   border-bottom: 1px solid;
}

.post-letter {
   line-height: 1.2;
   color: rgba(0,0,0,.07);
   font-family: 'Josefin Sans';
   font-weight: 600;
   font-size: 26.0rem;
   z-index: 1;
   position: absolute;
   top: 50%;
   left: -9rem;
   -webkit-transform: translate(0,-50%);
   -ms-transform: translate(0,-50%);
   transform: translate(0,-50%);
   -moz-user-select: none;
   user-select: none;
   pointer-events: none;
   text-transform: uppercase;
   -webkit-user-select: none;
   -ms-user-select: none;
}

.pagination {
   position: relative;
   width: 100%;
   margin: 0 auto;
   display: block;
   height: 42px;
}

.pagination a {
   color: #ffffff;
   background: rgb(0 0 0 / 75%);
   position: absolute;
   top: 0;
   min-width: 160px;
   font-family: 'Josefin Sans';
   font-weight: 600;
   font-size: 1.1rem;
   line-height: 39px;
   text-align: center;
   text-transform: uppercase;
   display: inline-block;
   text-decoration: none;
}

.pagination a:hover {
   background: rgb(0 0 0);
   -webkit-box-shadow: 0 10px 15px 0 rgb(0 0 0 / 15%);
   box-shadow: 0 10px 15px 0rgba(0,0,0,.15);
}

.pagination a.nav-left {
   left: 0;
}

.pagination a.nav-right {
   right: 0;
}

.theme-footer {
   background: #f8f8f8;
   color: #aaaaaa;
   padding: 0;
   display: block;
}

.taxonomy-list a {
   -webkit-transition: all .15s ease-in-out;
   -moz-transition: all .15s ease-in-out;
   -ms-transition: all .15s ease-in-out;
   -o-transition: all .15s ease-in-out;
   transition: all .15s ease-in-out;
   text-decoration: none;
   text-decoration-line: none;
   text-decoration-thickness: initial;
   text-decoration-style: initial;
   text-decoration-color: initial;
   color: #333333;
   font-family: 'Josefin Sans';
   font-weight: 600;
   font-size: 2rem;
   text-transform: uppercase;
}

.taxonomy-list a:hover {
   color: #c62641;
}

.taxonomy-head {
   margin: -12rem 0 8rem;
}

.taxonomy-head h4 {
   font-family: 'Domine';
   color: #c62641;
}

.taxonomy-list.tags {
   margin: 0;
   padding: 0;
}

.taxonomy-list.tags li{
   display: inline-block;
   margin: 0 5px 5px 0;
}

.taxonomy-list.tags a {
   color: #ffffff;
   background: rgb(0 0 0 / 75%);
   min-width: 160px;
   font-family: 'Josefin Sans';
   font-weight: 600;
   font-size: 1.1rem;
   line-height: 39px;
   text-align: center;
   display: inline-block;
   text-transform: uppercase;
}

.taxonomy-list.tags a:hover {
   background: rgb(0 0 0);
   -webkit-box-shadow: 0 10px 15px 0 rgb(0 0 0 / 15%);
   box-shadow: 0 10px 15px 0 rgb(0,0,0,.15);
}

.popup-overlay {
   width: 100%;
   height: 100%;
   height: -webkit-calc(100% + 60px);
   height: calc(100% + 60px);
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 9998;
   background: rgba(0,0,0,.6);
   display: block;
   opacity: 0;
   visibility: hidden;
   cursor: pointer;
   -webkit-transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -ms-transition: opacity .25s ease-in-out;
   -o-transition: opacity .25s ease-in-out;
   transition: opacity .25s ease-in-out;
}

.popup-overlay.active {
   opacity: 1;
   visibility: visible;
}

.popup-content {
   background: rgb(255, 255, 255);
   position: fixed;
   /* right: -420px; */
   display: block;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   max-width: 420px;
   -webkit-transform: translate3D(420px,0,0);
   -ms-transform: translate3D(420px,0,0);
   transform: translate3D(420px,0,0);
   -webkit-transition: visibility 1ms linear .2s,-webkit-transform .2s ease;
   -o-transition: transform .2s ease,visibility 1ms linear .2s;
   transition: transform .2s ease,visibility 1ms linear .2s;
   transition: transform .2s ease,visibility 1ms linear .2s,-webkit-transform .2s ease;
}

.popup-content.active {
   -webkit-transform: translate3D(0,0,0);
   -ms-transform: translate3D(0,0,0);
   transform: translate3D(0,0,0);
   -webkit-box-shadow: 0 0 100px rgb(0 0 0 / 50%);
   box-shadow: 0 0 100px rgb(0 0 0 / 50%);
}

.popup-head {
   height: 110px;
   width: 100%;
   background: #c62641;
   display: -webkit-box;
   display: -ms-flexbox;
   -webkit-box-align: center;
   padding: 0 20px;
   position: relative;
}

.popup-head h1 {
   font-family: 'Josefin Sans';
   font-weight: 600;
   color: #ffffff;
   font-size: 2.3rem;
}

.popup-data {
   padding: 20px;
}

.popup-data>h1 {
   display: none;
}

.close {
   position: absolute;
   right: 52px;
   top: 12px;
   width: 16px;
   height: 16px;
   opacity: 0.7;
   cursor: pointer;
 }
 .close:hover {
   opacity: 1;
 }
 .close:before, .close:after {
   position: absolute;
   left: 8px;
   content: ' ';
   height: 16px;
   width: 2px;
   background-color: rgb(255, 255, 255);
 }
 .close:before {
   transform: rotate(45deg);
 }
 .close:after {
   transform: rotate(-45deg);
 }
 
@keyframes fadeIn {
   0% { opacity: 0; }
   100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
   0% { opacity: 0; }
   100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
   0% { opacity: 0; }
   100% { opacity: 1; }
}

@-o-keyframes fadeIn {
   0% { opacity: 0; }
   100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
   0% { opacity: 0; }
   100% { opacity: 1; }
}