<header id="theme-header" class="theme-header">
  <div class="container">

    <div class="slot-l">
      <div class="theme-site-branding">
        <h1 class="site-title h4"><a href="/" rel="home">{{ .Site.Title }}</a></h1>
      </div>
    </div>

    <div class="slot-r full">
      {{ partial "navigation.html" . }}
    </div>
    <div class="slot-r mbl">
      <svg width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="butt" stroke-linejoin="arcs" onclick="showMenu()">
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </div>

  </div>
</header>

<div id="theme-cover" class="theme-cover"></div>